[data-cellid="grid_footcell_field2"][data-page="receive_masterprint"][data-cellid="grid_footcell_field2"][data-page="receive_masterprint"][data-cellid="grid_footcell_field2"][data-page="receive_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="receive_masterprint"][data-cellid="grid_footcell_field3"][data-page="receive_masterprint"][data-cellid="grid_footcell_field3"][data-page="receive_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="receive_masterprint"][data-cellid="grid_footcell_field4"][data-page="receive_masterprint"][data-cellid="grid_footcell_field4"][data-page="receive_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="receive_masterprint"][data-cellid="grid_footcell_field5"][data-page="receive_masterprint"][data-cellid="grid_footcell_field5"][data-page="receive_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="receive_masterprint"][data-cellid="grid_footcell_field6"][data-page="receive_masterprint"][data-cellid="grid_footcell_field6"][data-page="receive_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="receive_masterprint"][data-cellid="grid_footcell_field7"][data-page="receive_masterprint"][data-cellid="grid_footcell_field7"][data-page="receive_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="receive_masterprint"][data-cellid="grid_footcell_field8"][data-page="receive_masterprint"][data-cellid="grid_footcell_field8"][data-page="receive_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="receive_masterprint"][data-cellid="grid_footcell_field9"][data-page="receive_masterprint"][data-cellid="grid_footcell_field9"][data-page="receive_masterprint"] {
  white-space: nowrap;
}


